.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #575065;
  color: #575065;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.main {
  min-height: 85vh;
}

.outerContainer {
  background-color: rgba(243, 183, 207, 0.5);
}

.grandTitle {
  color: #575065;
}

.songListMarco {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  margin: 1rem 0 2rem;
}

.noWrapForce {
  white-space: nowrap !important;
}

.centerFlexDiv {
  display: flex;
  justify-content: space-evenly;
}

.avatar {
  border-radius: 100%;
}

.songRow {
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.songRow:hover {
  background-color: #d7c2f9;
}

.filters {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 1rem;
}

.filters:focus {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: none;
}

.customRapButton {
  color: #575065;
  border-radius: 1rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
}

.customRapButton:focus {
  color: #575065;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: none;
}

.customRapButton:hover {
  color: #575065;
  background-color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 768px) {
  .filters {
    margin-top: 12px;
  }
  .customRapButton {
    margin-top: 12px;
  }
}
